<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">


    <!-- ========================================================================================================== -->
    <!-- ================================= 参数和上下文配置 ======================================================== -->
    <!-- ========================================================================================================== -->
    <context:property-placeholder location="./WEB-INF/dchess.properties"/>
    <bean id="coconutConfigurer" class="com.fym.core.util.Prop">
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
            </list>
        </property>
    </bean>



    <!-- ========================================================================================================== -->
    <!-- ============================ 注解扫描（service，persistence） ============================================= -->
    <!-- ========================================================================================================== -->
    <!-- Enable annotation configuration -->
    <context:annotation-config/>
    <!-- ========================================================================================================== -->
    <!-- ============================ bean ======================================================================== -->
    <!-- ========================================================================================================== -->
    <!--<bean id="TicketAddedFilter" class="com.plk.core.web.TicketAddedFilter" />-->


    <!-- ========================================================================================================== -->
    <!-- ============================== SQL 语句bean =================================================== -->
    <!-- ========================================================================================================== -->
    <!-- 可以直接将一个文件路径赋值给Resource类型的resource属性,spring会根据路径自动转换成对应的Resource -->


    <!-- ========================================================================================================== -->
    <!-- ================================= 数据库连接和事务 ==================================================== -->
    <!-- ========================================================================================================== -->

    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="initialSize" value="${dbcp.initialSize}"/>
        <property name="maxActive" value="${dbcp.maxActive}"/>
        <property name="driverClassName" value="${jdbc.driverClass}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan">
            <list>
                <value>com.fym</value>
            </list>
        </property>

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.jdbc.fetch_size">${hibernate.jdbc.fetch_size}</prop>
                <prop key="hibernate.cache.use_second_level_cache">${hibernate.cache.use_second_level_cache}</prop>
                <prop key="hibernate.cache.region.factory_class">${hibernate.cache.region.factory_class}</prop>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>

    </bean>


    <!-- ========================================================================================================== -->
    <!-- ================================= 文件上传 ==================================================== -->
    <!-- ========================================================================================================== -->

    <!-- 这里申明的id必须为multipartResolver -->
    <!--<bean id="multipartResolver" class="org.springframework.controller.multipart.commons.CommonsMultipartResolver">-->

    <!--&lt;!&ndash; one of the properties available; the maximum file size in bytes (20MB) &ndash;&gt;-->
    <!--<property name="maxUploadSize" value="20971520"/>-->
    <!--<property name="defaultEncoding" value="UTF-8"/>-->
    <!--</bean>-->

    <tx:annotation-driven/>

    <!-- ========================================================================================================== -->
    <!-- ================================= Activiti 配置 =========================================================== -->
    <!-- ========================================================================================================== -->
    <!--<bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">-->
    <!--<property name="dataSource" ref="dataSource"/>-->
    <!--<property name="transactionManager" ref="transactionManager"/>-->
    <!--<property name="databaseSchemaUpdate" value="true"/>-->
    <!--<property name="jobExecutorActivate" value="false"/>-->
    <!--</bean>-->

</beans>
